[submodule "emacs/.emacs.d/evil"]
	path = emacs/.emacs.d/evil
	url = git://gitorious.org/evil/evil.git
[submodule "emacs/.emacs.d/undo-tree"]
	path = emacs/.emacs.d/undo-tree
	url = https://github.com/emacsmirror/undo-tree.git
[submodule "emacs/.emacs.d/emacs-color-theme-solarized"]
	path = emacs/.emacs.d/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "emacs/.emacs.d/ace-jump-mode"]
	path = emacs/.emacs.d/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
